.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

projectFilesBackup/.idea/workspace.xml
gradle/wrapper/gradle-wrapper.properties
.idea/gradle.xml
app/app-release.apk
gradle/wrapper/gradle-wrapper.properties
app/app-release.apk
.idea/misc.xml
.idea/misc.xml
app/app.iml
.idea/gradle.xml
.idea/misc.xml
.idea/misc.xml